.flex-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

.flex-container > * {
    padding: 0.5em;
    flex: 1 100%;
}

.flexed-column {
    width: 33%;
}

body {
    padding: 1em;
}

.verticalScroll {
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui.secondary.menu > .item {
    padding-left: 0;
}

.ui.small.button > .icon {
    margin: 0 !important;
}


