
body {
    padding: 1em;
    background: #F4F5F2;
}

/*******************************
              Flex
*******************************/

.flex-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

.flex-container > * {
    padding: 0.5em;
    /*flex: 1 100%;*/
}

.flex-container > table {
    padding: 0.15em !important;
}

.flexed-column {
    width: 33%;
}

.flex-container > #left {
    width: 40.5%;
}

.flex-container > #center {
    width: 30%;
}

.flex-container > #right {
    width: 27%;
}

/*******************************
              Menu
*******************************/

#menu {
    display: block;
    width: 6%;
}

.ui.secondary.menu > .item {
    padding-left: 0;
}

.ui.small.button > .icon {
    margin: 0 !important;
}

/*******************************
              Data
*******************************/

#data {
    padding-left: 1em;
}

.inputField {
    width: 216px !important;
}

.fieldLabel {
    padding-left: .5em;
}

.numberField {
    width: 165px !important;
}

.selectField {
    width: 87px !important;
}

/*******************************
             Filtro
*******************************/

.resultsLabel {
    margin: 0.25em 0 0 0.5em;
}

.resultsList {
    min-height: 460px;
    max-height: 460px;
}

.verticalScroll {
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*******************************
             Campo
*******************************/

.fullSpace {
    width: 100% !important;
}

.banned {
    margin: 50px auto auto 6px;
}

.verticalCard, .monsterCard {
    border: 1px solid #888888;
    width: 40px;
    height: 60px;
    min-width: 40px;
    min-height: 60px;
}